<style>
    #text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: large;

    }
</style>
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:80vh">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <form  class="login-form" (ngSubmit)="onSubmint()">
                        <p class="text-center font-weight-bold" id="text">Iniciar Sesión</p>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" [(ngModel)]="userSet.email"
                                placeholder="Email" required>
                        </div>
                        
                        <div class="form-group">
                        
                            <input type="password" id="pass" name="pass" class="form-control" [(ngModel)]="userSet.pass"
                                placeholder="Contraseña" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>
